
/*BARRA DE NAVEGACION*/

.header 
{
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
    font-size: 0;
}
li {
  display: inline;
  font-weight:500;
  
}
.header > * {
  display: inline-block;
   font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  font-family: 'Roboto', sans-serif;

}
.logo {
  width: 15%;
}

.navbar {
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 15%;
   text-align: right;
  font-size: 14px;
  font-weight: 600;
}
li > * {
  margin-right: 10px;
  margin-left: 10px;
}
.actions a {
  color: #67b54b;
}
.logo > img {
  height: 100%;
}
.menu-item {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}


/*BODY*/
.inicio{
              
margin: 0 auto;
max-width: 100%;
padding: 2%;
text-align: center;
height: auto;
background-color: #fff;
}
          
.centrado, form
{
justify-content: center;
text-align: center;
}
      
h1 {
  color: #025157;
    font-weight: 600;
    font-size: 4.2em;
	font-family: "Alegreya", serif;
}
h4 {
  color: #46484c;
    font-weight: 600;
    font-size: 1.2em;
	font-family: "Slabo 27px", serif;
}
p{
  color:#46484c;  
     font-size: 1.3em;
}
button
{
    padding: 2.5%;
    background-color: #025157;
    color:#fff;
    border-top-right-radius: 10PX;
    border-bottom-right-radius: 10PX;
    border :none;
    font-size: 1.1em;
    margin: inherit;
}
input
{
    margin: inherit;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
   padding: 2.5%;
    font-size: 1.1em;
    color:#fff;
    border-radius: 1PX;
    border :solid 1px #aba9a9; 
}
.img
{
margin: auto;
height: auto; 
padding: 5%;
text-align: center;
max-width: 100%;
justify-content: center;
}
